<!-- Show the spinner if we are waiting for a submission to go through -->
<div class="schema-block">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.validate)" class="form-horizontal">
    <div class="row">
      <div class="col-md-1">
        <button type="submit" [disabled]="!form.valid || submitted" class="btn btn-success btn-md btn-raised">Save</button>
      </div>

      <div class="schema-spin-main" *ngIf="submitted">
        <div class="schema-spin-block" >
          <div class="spinner">
            <sk-three-bounce></sk-three-bounce>
          </div>
        </div>
      </div>
    </div>


    <br/>
    <div class="form-group row">
      <div class="col-lg-10">
        <label for="inputSchemaName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input [formControl]="name" type="text" class="form-control" id="inputSchemaName" placeholder="Schema name (aka. table name)">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-10">
        <label for="inputSchemaAliases" class="col-sm-2 control-label">Aliases</label>
        <div class="col-sm-10">
          <input [formControl]="aliases" type="text" class="form-control" id="inputSchemaAliases" placeholder="Comma separated alias name(s)">
        </div>
      </div>
    </div>

    <br/>
    <h5 class="panel-subtitle">Timestamp</h5>
    <div class="form-group row">
      <div class="col-lg-10">
        <label for="inputTimestampAliases" class="col-sm-2 control-label">Aliases</label>
        <div class="col-sm-10">
          <input [formControl]="ts_aliases" type="text" class="form-control" id="inputTimestampAliases" placeholder="Comma separated alias name(s)">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-10">
        <label for="inputTimestampFormats" class="col-sm-2 control-label">Format(s)</label>
        <div class="col-sm-10">
          <input [formControl]="ts_formats" type="text" class="form-control" id="inputTimestampFormats" placeholder="Comma separated format(s)">
        </div>
      </div>
    </div>
    
    <br/>
    <h5 class="panel-subtitle">Fields</h5>
    <div formArrayName="fields">
      <div *ngIf="addField != undefined">
        <div *ngFor="let control of form.controls['fields'].controls; let i = index">
          <!-- actual field component -->
          <add-field-component
            [index]=i
            [fieldForm]="control"
            (deleteItem)="deleteField($event)"
            (disabled)="submitted">
          </add-field-component>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" align="left">
        <button (click)="addField()" type="button" class="btn btn-success btn-icon"><i class="ion-plus-round"></i></button>
      </div>
    </div>
  </form>
</div>

