<div>
  <ba-card 
    [ngClass]="getSize()"
    [title]="config.title"
    (deleteEvent)="handleDelete($event)"
    (editEvent)="handleEdit($event)"
    [editable]="card.editable"
    [deletable]="card.deletable"
    [sortable]="card.sortable"
    baCardClass="traffic-panel medium-card">
    <div class="channels-block">
      <div class="chart-bg"></div>
      <div class="traffic-chart" id="trafficChart">
        <div class="canvas-holder" [attr.id]="id">
          <canvas class="chart-area" width="300px" height="300px"></canvas>
          <div class="traffic-text" *ngIf="config.centerEnabled">
            {{data.total}}
            <span>{{config.centerLabel}}</span>
          </div>
        </div>
        <div class="traffic-legend"></div>
      </div>
      <div class="channels-info">
        <div>
          <div class="channels-info-item" *ngFor="let item of data.items">
            <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
            <p>{{ item.label }}<span class="channel-number">{{ itemDisplay(item) }}</span></p>
            <div class="progress progress-sm channel-progress">
              <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.percent" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: item.percent + '%' }">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ba-card>
</div>