button.btn.btn-icon.edit-card {
  // display: none;
  border-color: transparent;
  width: 20px;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  height: 22px;
  line-height: 18px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 3px;
}

.clearfix {
  overflow: auto;
}

button.btn.btn-danger.edit-card {
  // display: none;
  width: 20px;
  text-align: center;
  vertical-align: top;
  padding: 1px 2px;
}

.card-handle {
  float: right;
  max-width: 20%;
}

.card:hover button.btn.btn-danger.edit-card,
.card:hover button.btn.btn-icon.edit-card {
  display: inline-block;
}
