<div baCardBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>
  <div *ngIf="title" class="card-header clearfix">
    <div style="position: relative;" [attr.dnd-sortable-handle]="sortable ? true : null">
      <h3 class="card-title" style="float:left; max-width: 50%; overflow: hidden">{{title}}</h3>
      <div style="float:right; max-width: 50%;">
        <button *ngIf="editable" class="btn btn-default btn-icon btn-icon-only edit-card" type="button" (click)="editItem()"><i style="vertical-align:center;" class="ion-gear-b"></i></button>
        <button *ngIf="deletable" class="btn btn-xs btn-danger edit-card" type="button" (click)="deleteItem()"><i class="ion-close-round"></i></button>
      </div>
    </div>
  </div>
  <div>
    <!-- Drop the edit buttons in the card proper, if there is no title -->
    <div *ngIf="(!title)" class="clearfix">
      <div>
        <div class="card-handle" [attr.dnd-sortable-handle]="sortable ? true : null">
          <button class="btn btn-default btn-icon btn-icon-only edit-card" type="button" (click)="editItem()"><i style="vertical-align:center;" class="ion-gear-b"></i></button>
          <button class="btn btn-xs btn-danger edit-card" type="button" (click)="deleteItem()"><i class="ion-close-round"></i></button>
        </div>
      </div>
    </div>
    <div>
    <!--  -->
      <ng-content></ng-content>
    </div>
  </div>
</div>
