@import '../../theme/sass/auth';

.auth-block.package-block{
  width: 770px;
}

.auth-link.price-link{
  margin-bottom: 0px;
  margin-top: 7px;
  text-align: left;
}

.auth-link.back-link{
  margin-bottom: 0px;
  margin-top: 7px
}

div.select{
  margin-bottom: 12px;
}