<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th ngClass="nowrap">ID</th>
      <th class="align-right">Name</th>
      <th class="align-right">Keys</th>
      <th class="table-arr"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of metricsTableData" class="no-top-border">
      <td ngClass="nowrap"><a routerLink="/pages/devices/inst/{{item.id}}" class="auth-link">{{item.id}}</a></td>
      <td class="align-right">{{item.name}}</td>
      <td class="align-right">{{item.keys.length}}</td>
      <td><button type="button" (click)="onDeleteConfirm(item)" ngClass="{status-button btn btn-raised btn-xs btn-danger"><i class="ion-close-round"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
