<div class="create-dashboard-item-container">
  <div class="row" *ngIf="(type == 'gauge')">
    <create-gauge
      [saving]="saving"
      [refreshing]="refreshing"
      [data]="data"
      (save)="handleSave($event)"
      (refresh)="handleRefresh($event)">
    ></create-gauge>
  </div>
<!--   <div class="row" *ngIf="(type == 'pie')">
    <create-pie></create-pie>
  </div>
  <div class="row" *ngIf="(type == 'line')">
    <create-line></create-line>
  </div> -->
  <small-spinner
    [visible]="saving || refreshing">
  </small-spinner>
</div>