@import '../../../theme/sass/conf/conf';

.create-dashboard-item-container{
  color: $content-text;

  span {
    font-size: large
  }

  .elem.row{
    &:hover{
      border: grey;
      border-style: double
    }

    cursor: pointer;
    cursor: hand;
    padding-top: 15px;
  }
}