<div class="row">
  <label>Keys</label>
  <br/>
</div>
<div class="row">
  <div class="horizontal-scroll col-lg-5">
    <table class="table table-hover">
      <thead>
      <tr class="black-muted-bg">
        <th ngClass="nowrap" style="text-align:left">ID</th>
        <th class="table-arr"> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of keys; let i = index" class="no-top-border">
        <td ngClass="nowrap" style="text-align:left">{{key.id}}</td>
        <td><button type="button" (click)="onDeleteConfirm(key)" ngClass="{status-button btn btn-raised btn-xs btn-danger"><i class="ion-close-round"></i></button></td>
      </tr>
      <!-- add key button -->
      <tr class="no-top-border">
        <td></td>
        <td><button type="button" (click)="createKey()" ngClass="{status-button btn btn-raised btn-xs btn-success"><i class="ion-plus-round"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
<div>

<!-- control modal from parent component -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="latest_key != null">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Key Download</h4>
      </div>
      <div class="modal-body">
        This is the one (and only) time that the secret can be viewed.
        <p><p>
        Key ID: {{latest_key.id}}
        <p>
        Secret: {{latest_key.secret}}
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="hideModal()">OK</button>
      </div>
    </div>
  </div>
</div>