@import '../../../../theme/sass/conf/conf';

.modal {
  padding-top: 300px;

  .modal-content {
    color: $dropdown-text;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.loading {
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

/* Showing the loading spinner */
.schema-spin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.schema-spin-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  /*@include bg-translucent-dark(0.55);
  color: #fff; */
  padding: 32px;
}

.done-label {
  padding-top: 7px;
  span {
    font-size: large;
  }
}