<div class="dashboard-card-container">
    <gauge-chart *ngIf="(type == 'gauge')"
      [data]="data"
      [config]="config"
      [card]="card"
      (deleteEvent)="handleDelete($event)"
      (editEvent)="handleEdit($event)"
      ></gauge-chart>
    <donut-chart *ngIf="(type == 'donut')"
      [data]="data"
      [config]="config"
      [card]="card"
      (deleteEvent)="handleDelete($event)"
      (editEvent)="handleEdit($event)"></donut-chart>
    <line-chart *ngIf="(type == 'line')"
    [data]="data"
    [config]="config"
    [card]="card"
    (deleteEvent)="handleDelete($event)"
    (editEvent)="handleEdit($event)"></line-chart>
</div>