<div class="create-dashboard-item-container">
    <gauge *ngIf="(type == 'gauge')"
      [data]="data" [config]="config" [editable]="card.editable" [deletable]="card.deletable" [sortable]="card.sortable"
      (deleteEvent)="handleDelete($event)"(editEvent)="handleEdit($event)"
      ></gauge>
    <donut-chart *ngIf="(type == 'donut')"
      [data]="data" [config]="config" [colorOptions]="config.colors" [editable]="true" [deletable]="true" [sortable]="true"
      (deleteEvent)="handleDelete($event)"(editEvent)="handleEdit($event)"></donut-chart>
    <line-chart *ngIf="(type == 'line')"
    [data]="data" [config]="config" [editable]="false" [deletable]="false" [sortable]="true" 
    (deleteEvent)="handleDelete($event)"(editEvent)="handleEdit($event)"></line-chart>
</div>