<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card baCardClass="with-scroll table-panel device-panel" [deletable]=false [editable]=false>
        <device-table #deviceTable
          (loaded)="doneLoading($event)"
          (deleting)="deletingItem($event)">
        </device-table>
        <div class="row">
          <div class="col-md-11"></div>
          <div class="col-sm-1" align="right" style="padding-top: 2px">
            <button (click)="newDevice()" [disabled]="loading" type="button" class="btn btn-success btn-icon"><i class="ion-plus-round"></i></button>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

  <div *ngIf="loading">
     <div class="schema-spin-main" >
      <div class="schema-spin-block" >
        <div class="spinner">
          <sk-three-bounce></sk-three-bounce>
        </div>
      </div>
    </div>
  </div>
</div>