<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideFieldCreateModal(false)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Field</h4>
      </div>
      {{addField.id}}
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-10">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text">
            </div>  
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10">
            <label class="col-sm-2 control-label">Aliases</label>
            <div class="col-sm-10">
              <input type="text">
            </div>  
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
              <div class="btn-group flex-dropdown" dropdown>
                <button type="button" class="btn btn-primary">Type</button>
                <button type="button" class="btn btn-primary" dropdownToggle addToggleClass="true">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" dropdownMenu>
                  <li class="dropdown-item">Varchar</li>
                  <li class="dropdown-item">Integer</li>
                  <li class="dropdown-item">Long</li>
                  <li class="dropdown-item">Double</li>
                  <li class="dropdown-item">Float</li>
                  <li class="dropdown-item">Binary</li>
                  <li class="dropdown-item">Boolean</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="hideFieldCreateModal(true)">Save changes</button>
      </div>
    </div>
  </div>
</div>

