<div *ngIf="loading || deleting">
   <div class="schema-spin-main" >
    <div class="schema-spin-block" >
      <div class="spinner">
        <sk-three-bounce></sk-three-bounce>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading">
  <div class="schema-block">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="row">
        <div class="col-md-1">
          <button (click)="delete_schema()" [disabled]="deleting" type="button" class="btn btn-danger btn-md">Delete</button>
        </div>
        <div class="col-md-1">
          <button type="submit" [disabled]="!form.valid || submitting || deleting" class="btn btn-success btn-md btn-raised">Save</button>
        </div>
      </div>
      <br/>

      <div class="form-group row">
        <div class="col-lg-10">
          <label for="inputSchemaName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input [formControl]="name" type="text" class="form-control" id="inputSchemaName" placeholder="<LOADING>">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-10">
          <label for="inputSchemaAliases" class="col-sm-2 control-label">Aliases</label>
          <div class="col-sm-10">
            <input [formControl]="aliases" type="text" class="form-control" id="inputSchemaAliases" placeholder="Comma separated aliases">
          </div>
        </div>
      </div>

      <hr/>

      <h5 class="panel-subtitle">Timestamp</h5>
      <div class="form-group row">
        <div class="col-lg-10">
          <label for="inputTimestampAliases" class="col-sm-2 control-label">Aliases</label>
          <div class="col-sm-10">
            <input [formControl]="ts_aliases" type="text" class="form-control" id="inputTimestampAliases" placeholder="Comma separated aliases">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-10">
          <label for="inputTimestampFormats" class="col-sm-2 control-label">Format(s)</label>
          <div class="col-sm-10">
            <input [formControl]="ts_formats" type="text" class="form-control" id="inputTimestampFormats" placeholder="Comma separated format(s)">
          </div>
        </div>
      </div>

      <hr/>

      <h5 class="panel-subtitle">Fields</h5>
      <div formArrayName="fields">
        <div *ngFor="let control of form.controls['fields'].controls; let i = index">
          <!-- Skip timestamp because we already handle it above. Timestamp is the only field that doesn't allow modifying the name -->
          <div *ngIf="!checkTimestamp(control)">
            <field-sub-component
              [index]=i
              [fieldForm]="control">
            </field-sub-component>
          </div>
        </div>
      </div>
      <div formArrayName="added_fields">
        <div *ngFor="let control of form.controls['added_fields'].controls; let i = index">
          <add-field-component
            [index]=i
            [fieldForm]="form.controls.added_fields.controls[i]"
            (deleteItem)="deleteAddedField($event)">
          </add-field-component>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-1" align="left">
      <button (click)="addNewField()" [disabled]="submitting || deleting" type="button" class="btn btn-success btn-icon"><i class="ion-plus-round"></i></button>
    </div>
  </div>
</div> <!-- End loading -->