@import '../../../../theme/sass/conf/conf';

.modal {
  padding-top: 300px;

  .modal-content {
    color: $dropdown-text;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}


.form-control-modal {
  color: #000000;
  @include placeholderStyle($content-text, 0.7);
  border: 1px solid $primary-bg;
  border-radius: 5px;
  background-color: $input-background;
  box-shadow: none;
  font-size: 14px;
  &:focus {
    color: #000000;
    box-shadow: none;
    border-color: $primary-bg;
    background: $input-background;
  }
}

$text-color: $default;

.schema-block{
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;

  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}
