@import '../../theme/sass/auth';

.small-date {
  width: 26%;
}

.cvc {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 2px;
}

.zipcode{
  padding-right: 6px;
  padding-left: 10px;
}

.auth-link.back-link{
  margin-bottom: 0px;
  margin-top: 7px
}

.auth-main.three-bounce-spinner{
  margin: 0px;
}